services:
  dagster:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dagster-etl
    ports:
      - "3000:3000"
    volumes:
      - ./data:/opt/dagster/app/data
      - ./dagster.yaml:/opt/dagster/home/dagster.yaml
    environment:
      - DAGSTER_HOME=/opt/dagster/home
    command: dagster dev -h 0.0.0.0 -p 3000