
# .github/workflows/deploy.yml
name: Deploy Dagster on EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Ensure docker & compose available
        run: |
          docker --version
          docker-compose version || (sudo apt-get update && sudo apt-get install -y docker-compose)


      - name: Fix permissions on workspace (only if runner is not root)
        run: |
          sudo chown -R $USER:$USER "$GITHUB_WORKSPACE" || true

      - name: Show structure
        run: |
          pwd
          ls -la
          tree -L 3 || true

      - name: Show docker-compose file
        run: cat docker-compose.yaml || echo "No docker-compose.yaml found"


      - name: Build & run Dagster
        run: |
          docker-compose down || true
          docker-compose up -d --build
          docker-compose ps


      - name: Tail dagster logs (brief)
        run: docker logs --tail 200 dagster-etl || true

      - name: List containers
        run: docker ps -a
