name: Deploy Dagster on EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Fix file permissions
        run: sudo chown -R ubuntu:ubuntu /home/ubuntu/actions-runner/_work/Dagster_Docker_CICD
      
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show current directory and files
        run: |
          pwd
          ls -la

      - name: Show docker-compose file
        run: cat docker-compose.yaml || echo "No docker-compose.yaml found"

      - name: Build and run Dagster with Docker Compose
        run: |
          docker-compose down || true
          docker-compose up -d --build

      - name: Show running containers
        run: docker ps